/* Brand Colors ------------------------------------------------*/

$background-color_light: #f6f8fa;
$background-color_dark: #24292f;
$font-color_light: #f6f8fa;
$font-color_grey: rgba(0, 0, 0, 0.53);
$font-color_dark: #6a6a6b;
$yellow: #FFD500;

$placeholder: $background-color_dark;

$base-font-weight: 300;
$brand-font-1: '',
sans-serif;
$brand-font-2: '',
sans-serif;